* {
    font-family: 'Libre Franklin', sans-serif;
}

.portofolio {
    width: 373px;
    height: 275px;
    text-align: center;
    color: white;
    font-weight: bold;
    background-image: url(./bg.png);
    background-color: rgba(93, 58, 44, 0.466);
    background-blend-mode: overlay;
}

.portofolio h1 {
    padding: 36px 50px;
}

.portofolio h2 {
    padding-bottom: 13px;
    line-height: 5px;
    font-weight: normal;
    
}

.portofolio h3 {
    font-weight: normal;
    font-size: 16px;
}

.portofolio h4 {
    font-weight: normal;
    font-size: 19px;
    padding-bottom: 50px;
    text-decoration: underline;
}

.about h1 {
    padding-top: 10px;
    text-align: center;
}

.about p {
    padding: 0 30px;
    text-align: justify;
}

.skills {
    background-color: #FFFAF2;
}

.skills h1 {
    text-align: center;
    padding: 25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 26px;
}

.profile {
    display: inline;
}

.container {
    display: flex;
}

.skills-left {
    font-weight: bold;
}

.skills-right {
    padding-right: 11px;

}

.skills-1 {
    height: 30px;
    display: flex;
    justify-content: center;
}

#box-1 {
    background-color: #C66C49;
    width: 55%;
    height: 50%;
}

#box-2 {
    background-color: #F5D6AB;
    width: 45%;
    height: 50%;
}

ul {
    font-size: 12px;
    list-style-type: none;
}

#ul-right {
    padding-left: 16px;
}

#li-profile {
    padding-bottom: 31px;
}

#li-tools {
    padding-top: 15px;
}

#li-design {
    padding-top: 18px;
}

#li-UX {
    padding-top: 15px;
}